/*Página Inicial - index.html*/


body.pagina-inicial {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #170729, #000000ec);
    color: white;
    text-align: center;
    min-height: 170vh;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Foto de perfil*/

.foto-perfil-inicio {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 4px solid rgba(226, 217, 217, 0.863);
    margin: 20px auto;
    object-fit: cover;
    display: block;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.61);
    margin-bottom: 60px;
    animation: flutuar 5s ease-in-out infinite;
    transform: translateY(-100px);
    margin-top: 50px;
}
.foto-perfil-inicio::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #190222, #ffffff, #110118);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    z-index: -1;
}

.foto-perfil-inicio img {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    object-fit: cover;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    position: relative;
}

@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.foto-perfil-circulo {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 4px solid rgb(255, 255, 255);
    margin: 20px auto;
    object-fit: cover;
    display: block;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    margin-bottom: 60px;
}


/*Menu Principal*/

.menu-principal {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.menu-principal li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 15px;
    transition: all 0.3s;
    border-radius: 8px;
}

.menu-principal li a:hover {
    background: rgba(255, 255, 255, 0.2);
}


/* Submenu */

.submenu {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    list-style: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.submenu {
    margin: 8px 0;
}


.submenu li a {
    color: white;
    font-size: 1em;
    font-weight: normal;
    display: block;
}


.dropdown:hover .submenu {
    display: block;
}


/*Contatos - contatopessoal.html*/

body.pagina-contato {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #000000, #5f3c1b);
    color: white;
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-contato {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(255, 255, 255, 0.3);
    max-width: 500px;
    width: 90%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.info-contato {
    margin-top: 20px;
}

.card-contato {
    background: rgba(255, 255, 255, 0.911);
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.2s, background 0.3s;
    margin-top: 20px;
}

.card-contato:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.596);
}

.icone {
    font-size: 1.2em;
}

.meu-info {
    display: flex;
    column-gap: 2rem;
    left: 1.5rem;
    margin-top: 50px;
}

.info-item {
    display: flex;
    align-items: center;
}

.item-social-links {
    display: flex;
    justify-content: center;
    gap: 60px;
    color: hsl(242, 8%, 95%);
}

.item-social-links img {
    width: 30px;
    height: 30px;
    filter: invert(100%);
    transition: transform 0.3s;
}

.item-social-links a:hover img {
    transform: translateY(-15px);
    opacity: 0.8;
}


/*Página sobre mim - quemsoueu.html*/

body.pagina-sobre {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #000000, #284e79);
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

.container-sobre {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(255, 255, 255, 0.3);
    max-width: 800px;
    width: 100%;
}

.perfil-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
    flex-wrap: wrap;
}

.texto-sobre {
    max-width: 500px;
    font-size: 20px;
    line-height: 1.5;
}

.habilidades {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card-habilidade {
    background: rgba(255, 255, 255, 0.2);
    padding: 12px 18px;
    border-radius: 10px;
    font-weight: bold;
    transition: transform 0.2s, background 0.3s;
}

.card-habilidade:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.3);
}

/*Pet Shop - petshop.html*/

table.menu2 {
    width: 90%;
    max-width: 900px;
    background-color: #c8e0e0;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

table.menu2 td {
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-size: 1rem;
    border-right: 1px solid #999;
    transition: background-color 0.3s ease;
}


table.menu2 a {
    color: black;
    text-decoration: none;
    display: block;
}


table.menu2 td:hover {
    background-color: #a3c4c4;
}

body.pagina-inicial-petshop {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #226281;
    color: white;
    justify-content: center;
    height: 100vh;
}

body.pagina-interna {
    display: block;
    background-color: #fdfdfd;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #a8bbcc;
}

.container-animais {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    width: 100%;
    font-size: 30px;
}

.menu-lateral {
    width: 200px;
    background: linear-gradient(180deg, #226281, #1c4c66);
    padding: 20px 10px;
    box-sizing: border-box;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 2px solid #144256;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
}

.menu-lateral ul li a {
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.menu-lateral a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.menu-lateral a:hover {
    text-decoration: underline;
}

.menu-lateral ul li a:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.conteudo-principal {
    margin-left: 250px;
    margin-right: 220px;
    padding: 30px;
    max-width: calc(100% - 200px);
    box-sizing: border-box;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.conteudo-contatos table {
    width: 80%;
    margin: 10px auto;
    border-collapse: collapse;
}

.conteudo-contatos table,
th,
td {
    border: 1px solid black;
    padding: 8px;
}

button.petshop {
    padding: 10px 182px;
    background-color: rgb(27, 83, 48);
    color: white;
    border: none;
    cursor: pointer;
}

button.petshop:hover {
    background-color: #2d3d3c;
}

.faixa-direita {
    width: 220px;
    background-color: rgb(34, 98, 129);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
}

.conteudo-contatos {
    padding: 30px;
    flex: 1;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.galeria-imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    max-width: 1000px;
}

.galeria-imagens img {
    width: 300px;
    height: 400px;
    border-radius: 8px;
}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.secao-video h2 {
    font-size: 1.8rem;
    margin-top: 40px;
    color: #000000;
}


/*Cards*/

body.pagina-cards {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #222;
    color: #fff;
}

.cards {
    background: #333;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 0 0 calc(50% - 20%);
    box-sizing: border-box;
}

.conteiner-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cards:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.cards img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.card-content {
    padding: 15px;
}

/*Menus*/

.imagens-menus {
    display: inline-block;
    vertical-align: middle;
    max-width: 150px;
    height: auto;
    margin: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    width: 350px;
    height: 150px;
    border-radius: 8px;
}

body.menus {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

table.menu3 {
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #9b85b4;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    max-width: 4000px;
    width: 100%;
    color: black;
}

.container-menus {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    color: black;
    margin: 0 auto;
}

.container-menus li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

/*Listas*/

body.listas {
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-lista {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    max-width: 450px;
    width: 100%;
    color: black;
    margin: 0 auto;
    text-align: center;
}

/* Alertas */

.botao-alertas {
    background-color: #000000;
    border-radius: 20px;
    padding: 10px 18px;
}

#botao_a {
    color: blue;
}

#botao_b {
    color: green;
}

#botao_c {
    color: yellow;
}

.botao-alertas:hover {
    background-color: #828383;
}

.container-alertas {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    max-width: 450px;
    width: 100%;
    color: black;
    margin: 0 auto;
    text-align: center;
    margin-top: 50svh;
    margin-bottom: 50svh;
    background-color: rgb(212, 197, 197);
}

/* Tela de Login */

.botao-tela-login {
    background-color: #749e3c;
    color: white;
    border-radius: 20px;
    padding: 10px 50px;
}

.botao-tela-login:hover {
    background-color: #474747;
}

.container-login {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    max-width: 450px;
    width: 100%;
    color: black;
    margin: 0 auto;
    text-align: center;
    margin-top: 50svh;
    margin-bottom: 50svh;
    background-color: rgb(187, 178, 178);
}

/* Tela de Login Hospital */

.container-hospital {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    width: 100%;
    color: black;
    margin: 0 auto;
    margin-top: 50svh;
    margin-bottom: 50svh;
    background-color: rgb(240, 234, 234);
    text-align: center;
}

.botao-login-hospital {
    background-color: #749e3c;
    color: white;
    border-radius: 20px;
    padding: 10px 80px;
}

.botao-login-hospital:hover {
    background-color: #949292;
}

.titulo-login-hospital {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(160, 145, 145);
}
